.current-location-container {
    background-color: $clr3;
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.3);
    transition: 0.3s;

    &.dark {
        background-color: $clr1;
        color: $clr7;

        .btn {
            color: $clr7;
        }
    }

    header {
        justify-content: space-between;

        .name-temperature {
            margin-right: 15px;

            .location-name {
                font-family: openSansBold;
                font-size: rem(20px);
            }
        }

        .btn {
            width: 260px;
            
            img {
                width: 20px;
                margin-right: 5px;
            }
        }
    }

    main {
        font-family: openSansBold;
        font-size: rem(40px);
        margin: 65px 0;
    }

    footer {
        gap: 30px;
        margin-bottom: 10px;

        .forecast {
            background-color: darken($clr3, 5);
            padding: 20px 50px;
            text-align: center;
            border-radius: 5px;
            transition: 0.3s;

            &.dark {
                background-color: darken($clr1, 5);
                color: $clr7;
                
                &:hover {
                    background-color: darken($clr1, 10);
                }
            }

            &:hover {
                background-color: darken($clr3, 10);
            }
        }
    }
}

@media (max-width: 390px) {
    .current-location-container {
        header {
            flex-wrap: wrap;
            justify-content: center;

            .name-temperature {
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
}
