.favorites-container {
    background-color: $clr3;
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 30px;
    transition: 0.3s;

    &.dark {
        background-color: $clr1;
        color: $clr7;
    }

    .title {
        font-family: openSansBold;
        border-bottom: 1px solid darken($clr3, 7);
        padding-bottom: 5px;
        margin-bottom: 20px;

        img {
            width: 20px;
            margin-right: 10px;
        }
    }

    .favorites-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 20px;

        .location {
            border-radius: 5px;
            border: 1px solid darken($clr3, 7);
            padding: 10px;
            cursor: pointer;
            transition: 0.3s;

            .name {
                font-family: openSansBold;
            }

            .temperature {
                margin-bottom: 20px;
            }

            &.dark {
                border: 1px solid darken($clr1, 7);
                &:hover {
                    background-color: darken($clr1, 10);
                    border: 1px solid darken($clr1, 15);
                }
            }

            &:hover {
                background-color: darken($clr3, 10);
                border: 1px solid darken($clr3, 15);
            }
        }
    }
}

@media (max-width: 400px) {
    .favorites-container {
        .favorites-list {
            justify-content: center;
        }
    }
}
