.main-nav-container {
    background-color: $clr3;
    padding: 8px;
    margin-bottom: 20px;
    transition: 0.3s;

    &.dark {
        background-color: $clr1;

        .logo-container {
            h1 {
                color: $clr5;
            }
        }

        .main-nav {
            li {
                a:not(.active) {
                    color: $clr5;
                }
            }
        }
    }

    .logo-container {
        img {
            width: 35px;
            margin-right: 8px;
        }

        h1 {
            font-family: openSansBold;
            font-size: rem(20px);
        }
    }

    .main-nav {
        li {
            margin-left: 15px;
            padding: 10px 0;

            a:hover,
            .active {
                color: $clr2;
            }
        }
    }
}
