.main-nav-container {
    background-color: $clr3;
    padding: 8px;
    margin-bottom: 20px;
    transition: 0.3s;

    &.dark {
        background-color: $clr1;

        .logo-container {
            h1 {
                color: $clr5;
            }
        }

        .main-nav {
            li {
                a:not(.active) {
                    color: $clr5;
                }
            }
        }
    }

    .logo-container {
        img {
            width: 35px;
            margin-right: 8px;
        }

        h1 {
            font-family: openSansBold;
            font-size: rem(20px);
        }
    }

    .main-nav {
        li {
            margin-left: 15px;
            padding: 10px 0;

            a:hover,
            .active {
                color: $clr2;
            }
        }
    }

    /* Dark/Light mode toggler */

    .mode-toggle {
        margin-left: 10px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 28px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;

        &::before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
        }
    }

    input:checked + .slider {
        background-color: $clr2;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px $clr2;
    }

    input:checked + .slider:before {
        transform: translateX(17px);
    }

    /* Rounded sliders */
    .slider {
        border-radius: 34px;

        &::before {
            border-radius: 50%;
        }
    }
}
