.user-msg {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: $clr2;
    z-index: 999;
    font-family: openSansBold;
    padding: 10px 20px;
    color: $clr5;
    border-radius: 5px;
}
